h3 Búsquedas guardada
ul
    li
        a(href="#" class="link") terror puro
    li
        a(href="#" class="link") search drama
    li
        a(href="#" class="link") comedias en ingles
h3 Categorías
ul
    li Todos
    li
        a(href="#") Terror
    li
        a(href="#") Comedia
    li
        a(href="#") Drama
h3 Idioma
ul
    li Todos
    li
        a(href="#") Inglés
    li
        a(href="#") Español
    li
        a(href="#") Portugués
h3 Publicación
ul
    li Todos
    li
        a(href="#") Hoy
    li
        a(href="#") Hace una semana
    li
        a(href="#") Hace un mes
    li
        a(href="#") Hace un año
h3 Presentación
ul
    li
        a(href="#") Impreso
    li
        a(href="#") Digital
    li
        a Impreso y digital